<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Detalle de viaje.</title>
</head>
<body>
<section layout:fragment="header">
    <h1>
        Viaje
        <small>Panel de control</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Viajes</li>
    </ol>
</section>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Informacion de viajes</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form th:action="@{/travel/save}" th:object="${travel}" method="post" class="form-horizontal">
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Codigo de viaje</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control"  readonly="readonly" th:field="*{id}" placeholder="Codigo de viaje">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Fecha de arribo</label>

                            <div class="col-sm-10">
                                <input type="date" class="form-control" th:field="*{travelArrivalDate}" placeholder="Fecha de arribo">
                                <p class="text-red" th:if="${#fields.hasErrors('travelArrivalDate')}" th:errors="*{travelArrivalDate}"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Fecha de inicio</label>

                            <div class="col-sm-10">
                                <input type="date" class="form-control" th:field="*{travelStartDate}" placeholder="Fecha de inicio viaje">
                                <p class="text-red" th:if="${#fields.hasErrors('travelStartDate')}" th:errors="*{travelStartDate}"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Fecha de fin</label>

                            <div class="col-sm-10">
                                <input type="date" class="form-control" th:field="*{travelEndDate}" placeholder="Fecha de fin viaje">
                                <p class="text-red" th:if="${#fields.hasErrors('travelEndDate')}" th:errors="*{travelEndDate}"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Medio de transporte:<span>*</span></label>
                            <div class="col-sm-10">
                                <select class="form-control" th:field="*{transportTypeId}">
                                    <option value="">Select...</option>
                                    <option th:each="transportType : ${transportTypes}" th:value="${transportType.id}" th:utext="${transportType.name}"/>
                                </select>
                                <p class="text-red" th:if="${#fields.hasErrors('transportTypeId')}" th:errors="*{transportTypeId}"></p>
                            </div>
                        </div>
                        
                         <div class="form-group">
                            <label class="col-sm-2 control-label">Pais de procedencia:<span>*</span></label>
                            <div class="col-sm-10">
                                <select class="form-control" th:field="*{countryId}">
                                    <option value="">Select...</option>
                                    <option th:each="country : ${countries}" th:value="${country.id}" th:utext="${country.name}"/>
                                </select>
                                <p class="text-red" th:if="${#fields.hasErrors('countryId')}" th:errors="*{countryId}"></p>
                            </div>
                        </div>
                        
                         <div class="form-group">
                            <label class="col-sm-2 control-label">Puerto:<span>*</span></label>
                            <div class="col-sm-10">
                                <select class="form-control" th:field="*{portId}">
                                    <option value="">Select...</option>
                                    <option th:each="port : ${ports}" th:value="${port.id}" th:utext="${port.name}"/>
                                </select>
                                <p class="text-red" th:if="${#fields.hasErrors('portId')}" th:errors="*{portId}"></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Transporte Vacio?</label>
                            <div class="col-sm-10">
                                <select class="form-control" th:field="*{emptyTransport}">
                                    <option value="">Select...</option>
                                    <option value="SI">SI</option>
                                    <option value="NO">NO</option>
                                </select>
                                <p class="text-red" th:if="${#fields.hasErrors('emptyTransport')}" th:errors="*{emptyTransport}"></p>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Mercaderia a bordo?</label>
                            <div class="col-sm-10">
                                <select class="form-control" th:field="*{loadOnBoard}">
                                    <option value="">Select...</option>
                                    <option value="SI">SI</option>
                                    <option value="NO">NO</option>
                                </select>
                                <p class="text-red" th:if="${#fields.hasErrors('loadOnBoard')}" th:errors="*{loadOnBoard}"></p>
                            </div>
                        </div>
                        
                         <div class="form-group">
                            <label class="col-sm-2 control-label">Pais de transportista:<span>*</span></label>
                            <div class="col-sm-10">
                                <select class="form-control" th:field="*{transportCountryId}">
                                    <option value="">Select...</option>
                                    <option th:each="country : ${countries}" th:value="${country.id}" th:utext="${country.name}"/>
                                </select>
                                <p class="text-red" th:if="${#fields.hasErrors('transportCountryId')}" th:errors="*{transportCountryId}"></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Transportista designado:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" th:field="*{assignedPerson}" />
                                <p class="text-red" th:if="${#fields.hasErrors('assignedPerson')}" th:errors="*{assignedPerson}"></p>
                            </div>
                        </div>
                        
                         <div class="form-group">
                            <label class="col-sm-2 control-label">Pais de Medio de Transporte:<span>*</span></label>
                            <div class="col-sm-10">
                                <select class="form-control" th:field="*{transportTypeCountryId}">
                                    <option value="">Select...</option>
                                    <option th:each="country : ${countries}" th:value="${country.id}" th:utext="${country.name}"/>
                                </select>
                                <p class="text-red" th:if="${#fields.hasErrors('transportTypeCountryId')}" th:errors="*{transportTypeCountryId}"></p>
                            </div>
                        </div>
                        
                         <div class="form-group">
                            <label class="col-sm-2 control-label">Aduana:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" th:field="*{customs}" />
                                <p class="text-red" th:if="${#fields.hasErrors('customs')}" th:errors="*{customs}"></p>
                            </div>
                        </div>
                        
                         <div class="form-group">
                            <label class="col-sm-2 control-label">Pais emisor documento capitan:<span>*</span></label>
                            <div class="col-sm-10">
                                <select class="form-control" th:field="*{captainCountryId}">
                                    <option value="">Select...</option>
                                    <option th:each="country : ${countries}" th:value="${country.id}" th:utext="${country.name}"/>
                                </select>
                                <p class="text-red" th:if="${#fields.hasErrors('captainCountryId')}" th:errors="*{captainCountryId}"></p>
                            </div>
                        </div>

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer center">
                        <a th:href="@{/travel/list}">
                            <button type="button" class="btn btn-default"><i class="fa fa-right"></i> Cancelar</button>
                        </a>
                        <button type="submit" class="btn btn-info pull-right"><i class="fa fa-save"></i> Guardar</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
            <!-- /.box -->
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script>
    </script>
</th:block>

</body>

</html>